Use disposition messages as specified in RFC4130

Currently if an error occurs in the processing of a received message a generic _"Error: unexpected-processing-error"_ disposition message is included in the MDN. Although it correctly signals that the message couldn't be processed succesfully, it would be better to use the disposition message as described in section 7.4.3 of RFC4130.